.coursedesc{
    vertical-align: top;
}

/* .courseinfo {
    align-content: right;
} */

.mycol3 {
    text-align: center;
    margin-bottom: -670px;
    
}

/* .col-9.coursecolumn {
    float: right;
    margin-top: -650px;
    /* margin-left: -200px; */
    
/* } */ 